{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolores ratione libero unde magnam voluptatem quam debitis adipisci tenetur sapiente eum, corrupti animi veritatis odio doloribus sit voluptatibus eos ad ex, quidem officia. Totam numquam nihil iure dolor, ea maxime fugiat est? Minima facilis in cumque eveniet tempora dignissimos libero eum fugit, dicta accusamus eius magnam esse earum quos, fugiat laborum sint exercitationem, dolorum assumenda obcaecati nemo sapiente nisi! Ducimus dignissimos excepturi similique omnis eaque minus, commodi enim voluptatem ipsam nulla, fugit placeat voluptas eligendi laboriosam. Eum quidem commodi consequuntur.</p>
    
        <div class="text-center">
            <a href="/signup/" class="btn btn-primary m-2">Sign up</a>
            <br>
            <a href="/signin/" class="btn btn-secondary m-2">Login</a>
        </div>
    </section>
</main>

{% endblock content %}